# Generic
.DS_Store
Thumbs.db
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# dotenv
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build/cache
dist/
build/
.cache/

# Misc
*.swp
*.swo
